body {
    background-color: white;
    font-family: sans-serif;
}

header {
    text-align: center;
    color: #454545;
    font-size: 32px;
}

.lorem {
    text-align: center;
    color: #9E6F21;
    font-size: 24px;
}

a {
    color: #4942E4;
    font-size: 24px;
}

h3 { 
    color: #9E6F21;
    font-size: 22px;
    text-align: center;
}

p {
    font-size: 18px;
    color: black;
}
